## Example end to end project.
This is an overview of the work flow. 
1. Look at the big picture
2. Get the data
3. Discover and visualize the data to gain insight
4. prepare the data for Machine Learning algorighms
5. Select a model and train it 
6. Fine-tune the model
7. Present the solution 
8. Launch, monitor, and maintain the system

### Frame the problem
This is supervised learning task. Since the goal of the project is to predict housing price, it's a regression problem. The data is small enough to fit in the memory and plaiin batch learning is good enough.

### Select performance measure
- RMSE Vs MAE
RMSE is generally prefered in this task.

In [6]:
# #automate downloading and fetching data
import os
import tarfile
from six.moves import urllib


# housing_path = os.path.join('housing')  # Create a folder named 'housing'
# housing_archive = 'housing.csv'  # Path to the local TGZ file

# def extract_data(housing_archive=housing_archive, housing_path=housing_path):
#     if not os.path.isdir(housing_path):
#         os.makedirs(housing_path)
    
#     tgz_path = os.path.join(housing_path, housing_archive)
#     housing_tgz = tarfile.open(tgz_path)
#     housing_tgz.extractall(path=housing_path)
#     housing_tgz.close()

# # Call the function to extract the dataset
# extract_data()

In [24]:
import pandas as pd

csv_filename = 'london_house_prices.csv'
df = pd.read_csv(csv_filename)
df = pd.DataFrame(df)
df.reset_index(drop=True, inplace=True)
df

,id,bedrooms,bathrooms,tenure,garden,street,size_sqft,price_pounds,nearest_station_name,nearest_station_miles,postcode_outer
0,132180206,5.0,4.0,freehold,0,"Ladbroke Grove, London",NaN,10500000,Holland Park Station,0.2,NaN
1,134996630,6.0,5.0,freehold,0,"Murray Road, Wimbledon Village, SW19",NaN,8950000,Wimbledon Station,0.3,SW19
2,134169233,7.0,5.0,freehold,1,"Southside Common, Wimbledon Village, SW19",NaN,11950000,Wimbledon Station,0.7,SW19
3,132180206,5.0,4.0,freehold,0,"Ladbroke Grove, London",NaN,10500000,Holland Park Station,0.2,NaN
4,134996630,6.0,5.0,freehold,0,"Murray Road, Wimbledon Village, SW19",NaN,8950000,Wimbledon Station,0.3,SW19
...,...,...,...,...,...,...,...,...,...,...,...
929,133206317,4.0,3.0,leasehold,1,"Glendore House, Clarges Street, London W1J",NaN,7950000,Green Park Station,0.2,W1J
930,133510934,7.0,6.0,freehold,1,"Cheyne Place, Chelsea, London, SW3",0.0,14950000,Sloane Square Station,0.6,SW3
931,132058628,2.0,2.0,leasehold,0,"Cumberland Terrace, Regent's Park, London, NW1",NaN,6250000,Mornington Crescent Station,0.3,NW1
932,127761875,3.0,3.0,leasehold,0,"Holland Park Villas, 6 Campden Hill, London, W8",0.0,10000000,High Street Kensington Station,0.4,W8
933,129762833,3.0,3.0,leasehold,1,"Principal Tower, City of London",NaN,9500000,Shoreditch High Street Station,0.2,NaN

In [25]:
df.head()

,id,bedrooms,bathrooms,tenure,garden,street,size_sqft,price_pounds,nearest_station_name,nearest_station_miles,postcode_outer
0,132180206,5.0,4.0,freehold,0,"Ladbroke Grove, London",NaN,10500000,Holland Park Station,0.2,NaN
1,134996630,6.0,5.0,freehold,0,"Murray Road, Wimbledon Village, SW19",NaN,8950000,Wimbledon Station,0.3,SW19
2,134169233,7.0,5.0,freehold,1,"Southside Common, Wimbledon Village, SW19",NaN,11950000,Wimbledon Station,0.7,SW19
3,132180206,5.0,4.0,freehold,0,"Ladbroke Grove, London",NaN,10500000,Holland Park Station,0.2,NaN
4,134996630,6.0,5.0,freehold,0,"Murray Road, Wimbledon Village, SW19",NaN,8950000,Wimbledon Station,0.3,SW19

In [26]:
# Access the data types of DataFrame columns
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     934 non-null    int64
 1   bedrooms               919 non-null    float64
 2   bathrooms              899 non-null    float64
 3   tenure                 922 non-null    object
 4   garden                 934 non-null    int64
 5   street                 934 non-null    object
 6   size_sqft              417 non-null    float64
 7   price_pounds           934 non-null    int64
 8   nearest_station_name   934 non-null    object
 9   nearest_station_miles  934 non-null    float64
 10  postcode_outer         797 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 80.4+ KB

In [27]:
df['nearest_station_name'].value_counts()

Knightsbridge Station             78
Bond Street Station               64
Sloane Square Station             54
South Kensington Station          48
High Street Kensington Station    40
                                  ..
Goodge Street Station              1
Putney Station                     1
Caterham Station                   1
Temple Station                     1
Kilburn Park Station               1
Name: nearest_station_name, Length: 146, dtype: int64

In [28]:
df.describe()

,id,bedrooms,bathrooms,garden,size_sqft,price_pounds,nearest_station_miles
count,9.340000e+02,919.000000,899.000000,934.000000,417.000000,9.340000e+02,934.000000
mean,1.269162e+08,4.965180,4.538376,0.760171,3448.158273,1.104846e+07,0.369272
std,1.367926e+07,2.262916,2.070427,0.777689,3926.664533,6.892229e+06,0.382982
min,6.825453e+07,1.000000,1.000000,0.000000,0.000000,2.000000e+05,0.000000
25%,1.259347e+08,3.000000,3.000000,0.000000,0.000000,7.000000e+06,0.200000
50%,1.318950e+08,5.000000,4.000000,1.000000,2842.000000,9.000000e+06,0.300000
75%,1.347572e+08,6.000000,5.000000,1.000000,4488.000000,1.284600e+07,0.400000
max,1.368231e+08,28.000000,20.000000,4.000000,27790.000000,7.500000e+07,6.100000

In [29]:
for col in df:
    print(col,':', round(df[col].isnull().sum()/df.shape[0]*100, 3), '%')

id : 0.0 %
bedrooms : 1.606 %
bathrooms : 3.747 %
tenure : 1.285 %
garden : 0.0 %
street : 0.0 %
size_sqft : 55.353 %
price_pounds : 0.0 %
nearest_station_name : 0.0 %
nearest_station_miles : 0.0 %
postcode_outer : 14.668 %