## Example end to end project.
This is an overview of the work flow. 
1. Look at the big picture
2. Get the data
3. Discover and visualize the data to gain insight
4. prepare the data for Machine Learning algorighms
5. Select a model and train it 
6. Fine-tune the model
7. Present the solution 
8. Launch, monitor, and maintain the system

### Frame the problem
This is supervised learning task. Since the goal of the project is to predict housing price, it's a regression problem. The data is small enough to fit in the memory and plaiin batch learning is good enough.

### Select performance measure
- RMSE Vs MAE
RMSE is generally prefered in this task.

In [ ]:
#Check working directory
import sys
sys.executable

In [11]:
#connecting to database & fetching data 
import psycopg2
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

DATABASE_HOST = os.environ.get('DATABASE_HOST')
DATABASE_NAME = os.environ.get('DATABASE_NAME')
DATABASE_USER = os.environ.get('DATABASE_USER')
DATABASE_PASSWORD = os.environ.get('DATABASE_PASSWORD')

# Database connection parameters
db_params = {
    'host': DATABASE_HOST,
    'database': DATABASE_NAME,
    'user': DATABASE_USER,
    'password': DATABASE_PASSWORD,
}

conn = None  # Initialize conn to None
try:
    # Connect to the PostgreSQL database
    conn = psycopg2.connect(**db_params)
except (Exception, psycopg2.Error) as e:
    print("Error:", e)

In [12]:
# Execute a SQL query to retrieve data
query = "SELECT * FROM housing_data;"  
df = pd.read_sql_query(query, conn)
df

C:\Users\bini2\AppData\Local\Temp\ipykernel_10956\31097546.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [8]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
# Access the data types of DataFrame columns
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  object
 1   latitude            20640 non-null  object
 2   housing_median_age  20640 non-null  object
 3   total_rooms         20640 non-null  object
 4   total_bedrooms      20433 non-null  object
 5   population          20640 non-null  object
 6   households          20640 non-null  object
 7   median_income       20640 non-null  object
 8   median_house_value  20640 non-null  object
 9   ocean_proximity     20640 non-null  object
dtypes: object(10)
memory usage: 1.6+ MB

In [ ]:
df['nearest_station_name'].value_counts()

In [ ]:
df.describe()

In [ ]:
for col in df:
    print(col,':', round(df[col].isnull().sum()/df.shape[0]*100, 3), '%')